[commit_msg_length]
commit_msg_length=5

[commit_max_size]
commit_max_size=10485760

[commit_file_type]
commit_file_type='*.avi$|*.mp4$|*.mkv$|*.rar$|*.zip$|*.pdf$'

[commit_sync_repo]
commit_sync_repo="https://<svn_url>/svn/TEST"

[pre-commit]
pre_comm_cmd=("commit_access_control.sh","commit_msg_length.sh","commit_msg_id.sh","commit_msg_id_assigne.sh","
commit_file_type.sh","commit_max_size.sh")

[post-commit]
post_comm_cmd=("commit_jenkins_job.sh","commit_send_mail.sh","commit_sync_repo.sh")
